A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list.They collected a random sample and recorded TAT for reports of 4 laboratories.TAT is defined as sample collected to report dispatch.
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [21]:
import pandas as pd 
from scipy.stats import f_oneway

In [23]:
data=pd.read_csv("LabTAT.csv")
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [24]:
Laboratory1=pd.Series(data.iloc[:,0])
Laboratory1

0      185.35
1      170.49
2      192.77
3      177.33
4      193.41
        ...
115    178.49
116    176.08
117    202.48
118    182.40
119    182.09
Name: Laboratory 1, Length: 120, dtype: float64

In [25]:
Laboratory2=pd.Series(data.iloc[:,1])
Laboratory2

0      165.53
1      185.91
2      194.92
3      183.00
4      169.57
        ...
115    170.66
116    183.98
117    174.54
118    197.18
119    215.17
Name: Laboratory 2, Length: 120, dtype: float64

In [26]:
Laboratory3=pd.Series(data.iloc[:,2])
Laboratory3

0      176.70
1      198.45
2      201.23
3      199.61
4      204.63
        ...
115    193.80
116    215.25
117    203.99
118    194.52
119    221.49
Name: Laboratory 3, Length: 120, dtype: float64

In [27]:
Laboratory4=pd.Series(data.iloc[:,3])
Laboratory4

0      166.13
1      160.79
2      185.18
3      176.42
4      152.60
        ...
115    172.68
116    177.64
117    170.27
118    150.87
119    162.21
Name: Laboratory 4, Length: 120, dtype: float64

Null Hypothesis Ho:There is no difference in the average Turn Around Time(TAT) among the different laboratories.
Alternate Hypothesis Ha:There is a difference in the average Turn Around Time(TAT) among the different laboratories.
Anova Test is applicable-For more than two samples.

In [29]:
statistic,pvalue=f_oneway(Laboratory1,Laboratory2,Laboratory3,Laboratory4)
print("statistic value is {} \npvalue is {}".format(statistic,pvalue))

statistic value is 118.70421654401437
pvalue is 2.1156708949992414e-57

Comparing pvalue with 5% significance level.Since pvalue<0.05,We reject the null hypothesis saying that there is a difference
in the average Turn Around Time(TAT) among the different laboratories.