Sales of products in four different regions is tabulated for males and females. 
Find if male-female buyer rations are similar across regions.

In [74]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [75]:
data=pd.read_csv("BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   550   351    480    350

In [76]:
data.drop(labels=['Observed Values'],axis=1,inplace=True)
data

   East  West  North  South
0    50   142    131     70
1   550   351    480    350

In [77]:
Males_salesData=pd.Series(data.loc[0,'East':'South'])
Males_salesData

East      50
West     142
North    131
South     70
Name: 0, dtype: int64

In [78]:
Females_salesData=pd.Series(data.loc[1,'East':'South'])
Females_salesData

East     550
West     351
North    480
South    350
Name: 1, dtype: int64

Null Hypothesis Ho:All proportions are equal.
Alternate Hypothesis Ha:Not all proportions are equal.

In [79]:
statistic,pvalue=ttest_ind(Males_salesData,Females_salesData)
print("statistic value is {} \npvalue is {}".format(statistic,pvalue))

statistic value is -6.139294288037571
pvalue is 0.0008548166684701879

Comparing pvalue with 5% significance level.Since pvalue<0.05,we reject the null hypothesis saying not all
proportions are equal.